/* Contenedor principal de la seccion catalogo */
.container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 80px);
    width: 100%;
    margin-top: 5vh;
}
/* Texto principal de la pagina */
.container .heading{
    width: 50%;
    padding-bottom: 50px;
}
/* Estilos directos al h3 de la seccion heading */
.container .heading h3{
    color: #002244;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #002244;
}
/* Estilos directos a los parrofos */
.container .heading p{
    width: 100%;
    color: #002244;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 46px;
}
/* Adyacente */
.container .heading h3 + p{
    margin-top: 15px;
}
/* Seccion que tendra las imagenes de los Catalogos y los PDF */
.main__catalogue{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #002244;
}
/* Seccion de los catalogos */
.catalgue{
    margin-bottom: 45px;
}
/* Texto catalogo */
.catalgue p{
    margin-top: 25px;
    font-size: 20px;
    border-bottom: 3px  solid #002244;
}
/* Imagen del Catalogo */
.catalgue a img{
    width: 100%;
    box-shadow: 5px 10px #002244;
    border: 1px solid #002244;
    max-height: 390px;
}
/* Media para disminuuir el tamanio del h3 */
@media screen and (max-width: 330px){
    .container .heading h3{
        font-size: 32px;
    }
}